In [4]:
import pandas as pd
import numpy as np
import os

In [7]:
score_data = pd.read_csv('scores.csv', index_col=[0,1])

In [9]:
data_2group = score_data.drop('is_churn',axis=1)

In [10]:
data_2group

,,account_tenure,adview_per_month,dislike_per_month,like_per_month,message_per_month,newfriend_per_month,post_per_month,reply_per_month,unfriend_per_month
account_id,observation_date,,,,,,,,,
15,2020-02-09,-1.209611,0.822564,-1.051739,0.793760,-0.426749,-0.060075,0.796266,-1.149704,-0.543621
81,2020-02-09,-1.209611,-0.150753,-0.127564,-0.346823,1.419355,-0.699664,-0.418960,0.373834,-0.543621
127,2020-02-09,-1.209611,0.954385,1.117846,0.256470,-0.237268,-0.060075,0.135032,-0.843118,-0.543621
153,2020-02-09,-1.209611,0.605907,-0.398629,0.908750,-1.065580,1.474939,0.937206,-1.149704,-0.543621
177,2020-02-09,-1.209611,1.441274,1.235779,2.274766,-0.482624,0.579514,0.861801,0.067248,-0.543621
...,...,...,...,...,...,...,...,...,...,...
13132,2020-05-10,-1.243188,-1.533100,-0.780674,-0.517563,0.095857,-0.827582,0.057567,-0.202447,-0.543621
13141,2020-05-10,-1.243188,-0.538876,-1.433784,-1.749034,-0.426749,-0.699664,-0.877930,-0.319005,-0.543621
13155,2020-05-10,-1.243188,-1.867928,-1.433784,-1.969155,0.095857,-0.827582,-1.944690,0.511694,-0.543621
13171,2020-05-10,-1.243188,-0.100690,-1.433784,-0.688302,0.068437,-0.060075,0.706549,-0.202447,-0.543621
13248,2020-05-10,-1.243188,2.927117,1.499891,1.847567,2.187964,5.568309,2.254074,1.299173,1.303444

In [13]:
load_mat_df = pd.read_csv('load_matrix.csv', index_col=[0])

In [15]:
load_mat_ndarray = load_mat_df.to_numpy()

In [21]:
ndarray_2group = data_2group[load_mat_df.index.values].to_numpy()

In [22]:
ndarray_2group.shape

(32900, 9)

In [24]:
grouped_ndarray = np.matmul(
    ndarray_2group,
    load_mat_ndarray)

In [30]:
churn_data_grouped = pd.DataFrame(
    grouped_ndarray, 
    columns=load_mat_df.columns.values, 
    index=score_data.index
)

In [34]:
churn_data_grouped['is_churn'] = score_data['is_churn']
churn_data_grouped

,,metric_group_0,metric_group_1,account_tenure,dislike_per_month,unfriend_per_month,is_churn
account_id,observation_date,,,,,,
15,2020-02-09,0.831740,-1.114721,-1.209611,-1.051739,-0.543621,False
81,2020-02-09,-0.571413,1.267976,-1.209611,-0.127564,-0.543621,False
127,2020-02-09,0.454603,-0.763948,-1.209611,1.117846,-0.543621,False
153,2020-02-09,1.388334,-1.566442,-1.209611,-0.398629,-0.543621,False
177,2020-02-09,1.823400,-0.293715,-1.209611,1.235779,-0.543621,False
...,...,...,...,...,...,...,...
13132,2020-05-10,-0.997260,-0.075370,-1.243188,-0.780674,-0.543621,False
13141,2020-05-10,-1.366662,-0.527328,-1.243188,-1.433784,-0.543621,False
13155,2020-05-10,-2.336760,0.429603,-1.243188,-1.433784,-0.543621,False
13171,2020-05-10,-0.050388,-0.094759,-1.243188,-1.433784,-0.543621,False
13248,2020-05-10,4.453736,2.465778,-1.243188,1.499891,1.303444,False

In [36]:
churn_data_grouped.to_csv('groupscore.csv')